<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AI_SeoContent::jobs"
             title="AI SEO Jobs"
             module="AI_SeoContent"
             sortOrder="90"
             parent="Magento_Catalog::catalog"
             action="ai_seo_content/job/index"
             resource="AI_SeoContent::jobs"/>
    </menu>
</config>
